body
{
    background-color: black;
}

h1
{
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
}

h2 
{
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
}

a
{
    color: aquamarine;
    font-size: 16px;
}

p {
    text-align: center;
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

footer
{
    text-align: right;
    color: gray;
}